/.vsconfig
/EnglishDemoGame.sln
*.log
Library/
Logs/
Temp/
UserSettings/
Packages/

*.blend1
*.blend1.meta

/[Rr]ecordings/

.vs/
*.psd

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app